@import "tailwindcss";

@theme {
  --animate-dropdownOpen: dropdownOpen 0.28s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;

  @keyframes dropdownOpen {
    0% {
      opacity: 0;
      transform: scale(0.92) translateY(-12px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

@utility hover-underline-anim {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: -2px;
    left: 0;
    background-color: #f43f5e; /* rose-500 */
    transform-origin: bottom right;
    transition: transform 0.28s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}